*.pyc
**/__pycache__
**/.ipynb_checkpoints
**/.DS_Store
*.Icon
*.egg-info/
dist
examples
tensorboard
test.ipynb
*.trunk
*.vscode/
build
serket/super_experimental
corgi.jpeg
serket/experimental/test_conv.py
docs/_build